<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/links/add" method="POST">
                        <div class="form-group">
                            <input type="number" class="form-control" name="cedula" placeholder="Cedula" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="nombre" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" name="fecha_cumple" class="form-control" placeholder="Fecha cumpleaños">
                        </div>
                        <div class="form-group">
                            <input type="text" name="telefono" class="form-control" placeholder="Teléfono">
                        </div>
                        <div class="form-group">
                            <input type="text" name="direccion" class="form-control" placeholder="Dirección">
                        </div>
                        <div class="form-group">
                            <input type="number" name="pedido_id" class="form-control" placeholder="Id del pedido">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar Cliente
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>