<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/links/add_emp" method="POST">
                        <div class="form-group">
                            <label for=""><b>Cedula</b></label>
                            <input type="number" class="form-control" name="cedula" placeholder="Cedula" autofocus>
                        </div>
                        <div class="form-group">
                            <label for=""><b>Sueldo</b></label>
                            <input type="number" name="sueldo" class="form-control" placeholder="Sueldo">
                        </div>
                        <div class="form-group">
                            <label for=""><b>Chef</b></label>
                            <input type="text" name="chef" class="form-control" placeholder="Es chef">
                        </div>
                        <div class="form-group">
                            <label for=""><b>Mesero</b></label>
                            <input type="text" name="mesero" class="form-control" placeholder="Es mesero">
                        </div>
                        <div class="form-group">
                            <label for=""><b>Domiciliario</b></label>
                            <input type="text" name="domiciliario" class="form-control" placeholder="Es domiciliario">
                        </div>
                        <div class="form-group">
                            <label for=""><b>Id del pedido</b></label>
                            <input type="number" name="pedido_id" class="form-control" placeholder="Id del pedido">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar Empleado
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>